.footerContainer {
  position: absolute;
  top: 6005px;
  left: 0;
  width: 1512px;
  height: 300px;
  text-align: left;
  font-size: var(--bold-2-size);
  color: var(--color-gray-100);
  font-family: var(--bold-2);

  .bgIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1512px;
    height: 300px;
  }

  .socialIcons {
    position: absolute;
    top: 111px;
    left: 644px;
    width: 225px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-lg);
  }

  .mdigicon {
    text-decoration: none;
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    flex-shrink: 0;
  }

  .vectorIcon {
    position: absolute;
    top: 8.33%;
    right: 8.33%;
    bottom: 10.35%;
    left: 8.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }

  .footerCite {
    position: absolute;
    top: 161px;
    left: 531px;
    line-height: 24px;
  }
}
