.contactContainer {
  position: absolute;
  top: 5212px;
  left: 371px;
  width: 770px;
  height: 643px;
  text-align: left;
  font-size: var(--bold-2-size);
  color: var(--black);
  font-family: var(--bold-2);

  .formTitleContainer {
    margin: 0;
    position: absolute;
    top: 0;
    left: 47px;
    font-size: var(--semibold-11-size);
    line-height: 106px;
    font-weight: 600;
    font-family: var(--semibold-11);
    text-align: center;
  }

  .projectTitle {
    margin: 0;
  }

  .name {
    position: absolute;
    top: 275px;
    left: 0;
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .text {
    position: relative;
    line-height: 32px;
    font-weight: 600;
    display: flex;
    font-size: large;
    align-items: center;
    width: 370px;
    height: 50px;
    flex-shrink: 0;
    border: none;
  }

  .line2 {
    position: relative;
    border-top: 1px solid var(--black);
    box-sizing: border-box;
    width: 371px;
    height: 1px;
  }

  .email {
    position: absolute;
    top: 275px;
    left: 400px;
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .kindOfApp {
    position: absolute;
    top: 351px;
    left: 0;
    width: 770px;
    height: 50px;
  }

  .line1 {
    position: absolute;
    top: 49.5px;
    left: -0.5px;
    border-top: 1px solid var(--black);
    box-sizing: border-box;
    width: 771px;
    height: 1px;
  }

  .message {
    position: absolute;
    top: 427px;
    left: 0;
    width: 770px;
    height: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-29xl);
  }

  .messageText {
    position: relative;
    line-height: 32px;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: 770px;
    height: 100px;
    flex-shrink: 0;
    border: none;
  }

  .line {
    position: relative;
    border-top: 1px solid var(--black);
    box-sizing: border-box;
    width: 771px;
    height: 1px;
  }
}
