.about {
  position: absolute;
  top: 750px;
  left: 171px;
  width: 1170px;
  height: 652px;
  text-align: left;
  font-size: var(--bold-2-size);
  color: var(--black);
  font-family: var(--bold-2);

  .imageIcon {
    position: absolute;
    top: 0;
    left: 585px;
    z-index: -1;
    object-fit: cover;
  }
  .numbers {
    position: absolute;
    top: 0;
    left: 0;
    top: 560px;
    left: 579px;
    width: 491px;
  }

  .verticallines {
    position: absolute;
    top: 11px;
    left: 180px;
  }

  .gitnum {
    font-size: var(--semibold-7-size);
    line-height: 52px;
    font-weight: 600;
    font-family: var(--semibold-11);
    display: flex;
    align-items: center;
    width: 88px;
  }

  .gitdesc {
    position: absolute;
    top: 63px;
    left: 31px;
    line-height: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 113px;
  }

  .gitIcon {
    position: absolute;
    top: 66px;
    left: 1px;
  }

  .sect2 {
    position: absolute;
    top: 1px;
    left: 219px;
    width: 81px;
    height: 87px;
  }

  .peernum {
    top: 0;
    left: 2px;
    font-size: var(--semibold-7-size);
    line-height: 52px;
    font-weight: 600;
    font-family: var(--semibold-11);
    display: flex;
    align-items: center;
    width: 79px;
  }

  .peerdesc {
    position: absolute;
    top: 62px;
    left: 32px;
    line-height: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 49px;
  }

  .socialIcon {
    position: absolute;
    top: 64px;
    left: 0;
  }

  .sect3 {
    position: absolute;
    top: 1px;
    left: 399px;
    width: 92px;
    height: 87px;
  }

  .tweetsnum {
    position: absolute;
    top: 0;
    left: 2px;
    font-size: var(--semibold-7-size);
    line-height: 52px;
    font-weight: 600;
    font-family: var(--semibold-11);
    display: flex;
    align-items: center;
    width: 74px;
  }

  .tweets {
    position: absolute;
    top: 62px;
    left: 32px;
    line-height: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 60px;
  }

  .textContainer {
    position: absolute;
    top: 227px;
    left: 0;
    width: 570px;
    height: 425px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-19xl);
    font-size: var(--semibold-7-size);
    font-family: var(--semibold-11);
  }

  .introContainer {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 52px;
    font-weight: 600;
    font-family: inherit;
    display: flex;
    align-items: center;
    width: 570px;
  }

  .intro {
    margin: 0;
  }

  .descContainer {
    margin: 0;
    position: relative;
    font-size: var(--regular-2-size);
    line-height: 28px;
    font-family: var(--bold-2);
    display: flex;
    align-items: center;
    width: 469px;
    height: 231px;
    flex-shrink: 0;
  }

  .desc {
    display: block;
  }
}
