.projectsContainer {
  position: absolute;
  top: 2792px;
  left: 171px;
  width: 1170px;
  height: 700px;
  text-align: right;
  font-size: var(--semibold-4-size);
  color: var(--black);
  font-family: var(--semibold-11);

  .projectsTitle {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    font-size: var(--semibold-7-size);
    line-height: 52px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    width: 378px;
  }

  .arrows {
    position: absolute;
    display: flex;
    align-items: center;
    top: 5px;
    left: 1060px;
    width: 110px;
    height: 50px;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }

  .leftArrow {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 50px;
    height: 50px;
  }

  .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-white);
    border: 1px solid var(--lightgrey);
    box-sizing: border-box;
  }

  .vectorIcon {
    position: absolute;
    height: 27.6%;
    width: 27.6%;
    top: 36.2%;
    right: 136.2%;
    bottom: 36.2%;
    left: 40.8%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }

  .rightArrow {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 50px;
    height: 50px;
  }

  .vectorIcon1 {
    position: absolute;
    height: 27.6%;
    width: 27.6%;
    top: 36.2%;
    right: 36.2%;
    bottom: 36.2%;
    left: 36.2%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }

  .projectView1 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 140px;
    left: 0;
    width: 370px;
    height: 432px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-7xl);
    text-align: left;
  }

  .imageIcon {
    object-fit: cover;
  }

  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 200px;
    height: 20px;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--gap-2xl);
    color: inherit;
  }

  .projectTitle1 {
    display: flex;
    align-items: center;
    position: relative;
    line-height: 32px;
    font-weight: 600;
    width: 223px;
    flex-shrink: 0;
  }

  .projectView2 {
    position: absolute;
    top: 141px;
    left: 400px;
    display: flex;
    align-items: center;
    width: 370px;
    height: 419px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-7xl);
  }

  .projectTitle2 {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 32px;
    font-weight: 600;
    width: 170px;
    flex-shrink: 0;
  }

  .projectView3 {
    position: absolute;
    top: 141px;
    left: 800px;
    width: 370px;
    height: 419px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-7xl);
  }

  .projectTitle3 {
    position: relative;
    line-height: 32px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 154px;
    flex-shrink: 0;
  }

  .arrowIcon {
    position: relative;
  }
}
