.workProcessContainer {
  position: absolute;
  top: 3893px;
  left: 0;
  width: 1512px;
  height: 1190px;
  text-align: left;
  font-size: var(--bold-2-size);
  color: var(--black);
  font-family: var(--bold-2);

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 1512px;
    height: 1190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .maskGroup {
    position: relative;
    width: 1512px;
    height: 1190px;
  }

  .bgIcon {
    position: absolute;
    top: 0;
    left: 0;
  }

  .imageIcon {
    position: absolute;
    top: 0;
    left: 0;
    top: 401px;
    object-fit: cover;
  }

  .linesIcon {
    position: relative;
    width: 1512px;
    height: 1190px;
    margin-top: -939px;
  }

  .process1 {
    position: absolute;
    left: 571px;
    top: 533px;
  }

  .bgIcon1 {
    position: absolute;
    top: -12px;
    left: -20px;
  }

  .text {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 304px;
    height: 130px;
  }

  .textDesc {
    position: absolute;
    display: flex;
    align-items: center;
    top: 48px;
    left: 0;
    line-height: 24px;
    width: 283px;
    height: 82px;
  }

  .textTitle {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 57px;
    font-size: var(--semibold-4-size);
    line-height: 32px;
    font-weight: 600;
    font-family: var(--semibold-11);
    width: 247px;
  }

  .processIcon {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  .process2 {
    position: absolute;
    top: 533px;
    left: 971px;
    width: 370px;
    height: 210px;
  }

  .process3 {
    position: absolute;
    top: 773px;
    left: 571px;
    width: 370px;
    height: 210px;
  }

  .testingIcon {
    position: absolute;
    top: 40px;
    left: 38.7px;
  }

  .process4 {
    position: absolute;
    top: 773px;
    left: 971px;
    width: 370px;
    height: 210px;
  }

  .launchIcon {
    position: absolute;
    top: 39.7px;
    left: 38.7px;
  }

  .workProcess {
    margin: 0;
    position: absolute;
    top: 391px;
    left: 573px;
    font-size: var(--semibold-7-size);
    line-height: 52px;
    font-weight: 600;
    font-family: var(--semibold-11);
    display: flex;
    align-items: center;
    width: 378px;
  }
}
