.heroBanner {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  width: 1512px;
  height: 850px;
  text-align: center;
  font-size: var(--semibold-11-size);
  color: var(--color-white);
  font-family: var(--semibold-11);
}

.bgImg {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  width: 1512px;
  height: 850px;
  z-index: -1;
}

.text {
  position: absolute;
  top: 240px;
  left: 371px;
  width: 771px;
  height: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}

.weAreA {
  margin: 0;
}
.weAreAContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 106px;
  font-weight: 600;
  font-family: inherit;
}

.focusedOnCreating {
  position: relative;
  font-size: var(--semibold-4-size);
  line-height: 32px;
  font-weight: 600;
  font-family: var(--bold-2);
}
