.bgIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 300px;
}
.castynetStudios {
  position: absolute;
  top: 161px;
  left: 531px;
  line-height: 24px;
}
.vectorIcon {
  position: absolute;
  height: 81.32%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 10.35%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mdigithub {
  text-decoration: none;
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.vectorIcon1,
.vectorIcon2,
.vectorIcon3 {
  position: absolute;
  height: 58.33%;
  width: 92.29%;
  top: 22.29%;
  right: 3.54%;
  bottom: 19.37%;
  left: 4.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon2,
.vectorIcon3 {
  height: 70.83%;
  width: 87.17%;
  top: 16.67%;
  right: 6.42%;
  bottom: 12.5%;
  left: 6.42%;
}
.vectorIcon3 {
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.33%;
}
.socialIcons {
  position: absolute;
  top: 111px;
  left: 644px;
  width: 225px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.footer {
  position: absolute;
  top: 6005px;
  left: 0;
  width: 1512px;
  height: 300px;
  text-align: left;
  font-size: var(--bold-2-size);
  color: var(--color-gray-100);
  font-family: var(--bold-2);
}
